<!DOCTYPE html>
<html lang="en" dir="ltr">
	<head>
		<meta charset="utf-8" />
		<title>AirBnb clone</title>
		<link rel="stylesheet" href="static/styles/4-common.css" />
		<link rel="stylesheet" href="static/styles/3-header.css" />
		<link rel="stylesheet" href="static/styles/3-footer.css" />
		<link rel="stylesheet" href="static/styles/6-filters.css" />
		<link rel="icon" type="image/png" href="static/images/icon.png" />
	</head>
	<body>
		<header>
			<div class="logo"></div>
		</header>
		<div class="container">
			<section class="filters">
				<button type="button">Search</button>
				<div class="locations">
					<h3>States</h3>
					<h4>&nbsp</h4>
					<ul class="popover">
						{% for state in states %}
						<li>
							<h2> {{state.name}} </h2>
							<ul>
								{% for city in state.cities | sort(attribute='name') %}
								<LI>{{ city.name }}</LI>
								{% endfor %}
							</ul>
						</li>
						{% endfor %}
					</ul>
				</div>
				<div class="amenities">
					<h3>Amenities</h3>
					<h4>&nbsp</h4>
					<ul class="popover">
						{% for amenity in amenities %}
						<LI>{{ amenity.name }}</LI>
						{% endfor %}
					</ul>
				</div>
			</section>
		</div>
		<footer><p>Holberton School</p></footer>
	</body>
</html>
